<html>
 <head>
   <title>carrier pdf</title>
   <style>
     h1 {
       text-align: center;
       font-size: 20px;

     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 70%;


     }

     td, th {
       text-align: center;
       border: 1px solid;
                font-size: 15px;

     }
   </style>
 </head>
 <body>
   <h1>Carrier information</h1>
   <table>
     <thead>
       <tr>
         <th>id</th>
         <th>Name</th>
         <th>Company Name</th>
         <th>Truckload_type</th>
<!--         <th>truck_type</th>-->
       </tr>
     </thead>
     <tbody>
{#       {% for i in context  %}#}
         <tr>
           <td>{{ context.id }}</td>
           <td>{{ context.name }}</td>
           <td>{{ context.company_name }}</td>
           <td>{{ context.truckload_type }}</td>
         </tr>
{#       {% endfor %}#}
     </tbody>
   </table>
   <br><br>   <br><br>

  <table>
     <thead>
       <tr>
         <th>truck_type</th>
         <th>pickup_date</th>
         <th>deliever_date</th>
         <th>from_city</th>

       </tr>
     </thead>
     <tbody>
{#       {% for i in context  %}#}
          <tr>
           <td>{{ context.truck_type }}</td>
           <td>{{ context.pickup_date }}</td>
           <td>{{ context.deliever_date }}</td>
           <td>{{ context.from_city }}</td>
         </tr>
{#       {% endfor %}#}
     </tbody>
   </table>
   <br><br>   <br><br>

  <table>
     <thead>
       <tr>
         <th>to_city</th>
          <th>phone_number</th>
         <th>email</th>
         <th>comments</th>
       </tr>
     </thead>
     <tbody>
{#       {% for i in context  %}#}
          <tr>
           <td>{{ context.to_city }}</td>
           <td>{{ context.phone_number }}</td>
           <td>{{ context.email }}</td>
           <td>{{ context.comments }}</td>
         </tr>
{#       {% endfor %}#}
     </tbody>
   </table>
 </body>
</html>